{% extends 'layout.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/references.css' %}">

<div class="row">
    <div class="references container text-center mt-5">
        <h1>REFERENZEN</h1>
        <hr style="border-color: #736252;">
        <h5 class="text">Hier sehen Sie die Unternehmen, die von uns service erhalten</h5>

        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
        <div class="card">
            <p class="cardHead">Sample Firma GmbH</p>
            <div class="container refMsg">
            <img src="{% static 'media/logo/logo.png' %}" class="refCompLogo">
            <p class="refText">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis odio assumenda commodi. Quidem aliquid, numquam reiciendis ut a ratione cumque necessitatibus dolorum nihil doloribus, est ipsa fuga minima consectetur. Aut.</p>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/references.js' %}"></script>
{% endblock %}